/* Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

}
.contact .avatar {
  height: 100%;
  padding-right: 10px;
}
.avatar img{
  border-radius: 50%;
}
/* Sfondo Chat */
.background-chat {
  background: linear-gradient(180deg, #009688 12%, #d8dbd5 12%);
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Box Chat Principale */
.main-box {
    width: 90%;
    height: 90%;
    background: #eae9e8;
    padding: 10px;
    position: relative;
    left: 100px;
    top: 60px;
}
/**//**//**//**/
